* {
    box-sizing: border-box;
}

.editor {
    position: absolute;
    /*width: 100px;*/
    /*height: 100px;*/
    background: #fff;
    z-index: 33;
    transform: translateX(-50%);
    padding: 22px 25px;
    text-align: left;
    box-shadow: 0px 3px 18px #00000029;
    border: 1px solid #43425D;
    border-radius: 10px;
}

.editor:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    /*width: 15px;*/
    /*height: 15px;*/
    /*background: #000;*/
    transform: translate(-50%, -99%);
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 10px solid #000;
}

.editor_bottom {
    display: flex;
    justify-content: space-between;
}

.editor input {
    width: 150px;
    padding: 2px 0 4px;
    border: none;
    background: transparent;
    border-bottom: 1px solid #D6D6D6;
    outline: none;
    transition: all 0.3s ease;
}

.editor input::placeholder {
    opacity: 0;
}

.editor input:focus {
    border-color: #000;
}

.input_wrapper {
    display: flex;
    flex-flow: column;
    margin-bottom: 15px;
}

.input_wrapper label {
    font-size: 10px;
    line-height: 1.2;
    opacity: 0.5;
    margin-bottom: 0px;
    color: #000;
    opacity: 0.4;
}

.input_wrapper select {
    margin-top: 5px;
}

button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    background: #fff;
    padding: 5px;
}

.close_btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #000;
    opacity: 0.2;
    background-image: url("../../img/svg/close.svg");
    background-size: 50% 50%;
    background-position: center;
    background-repeat: no-repeat;

}

.close_btn:hover {
    opacity: 1;
}

.error_span {
    font-size: 10px;
    color: red;
}

.cancel_btn {
    background: #fff;
    color: #FF5F5F;
}

.cancel_btn:hover {
    background: #FF5F5F;
    color: #fff;
}

.save_btn {
    background: #fff;
    color: #6A6996;
}

.save_btn:hover {
    opacity: 1;
    background: #6A6996;
    color: #fff;
}
